<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RaspberryPiDevices.Tests.DeviceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RaspberryPiDevices.Tests.DeviceSettings>
            <setting name="SettingFilePath" serializeAs="String">
                <value>~/Projects/DeviceSettings.xml</value>
            </setting>
        </RaspberryPiDevices.Tests.DeviceSettings>
    </userSettings>
</configuration>